<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Seattle Restaurants Review</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <a href="/" class="btn btn-lg btn-primary">Home Page</a>
      <a href="/articles" class="btn btn-lg btn-info">View Articles</a>
      <a href="/articles/new" class="btn btn-warning">New Article</a>
      <a href="/authors" class="btn btn-success">View Authors</a>
      <a href="/authors/new" class="btn btn-default">Author Sign-Up</a>
    </div>
    <a href="/tags" class="btn btn-warning">View Tags</a>
    <div class="container">
  <%- body %>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/routing.js"></script>
  </body>
</html>
