<h2>#<%= tag.content %></h2>

<a href="/tags/<%=tag.id%>" class="btn btn-danger" id="delete-tag">
  Permanately Delete Tag and All References?
</a>

<hr>
<h3>Article that use this tag</h3>
<% tag.articles.forEach(function(a){ %>
  <div>
    <a href="/articles/<%= a.id %>">
      <%= a.title %>
    </a>
  </div>
<% }); %>
